body {
  display: grid;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body-container {
  background-image: url(images/polka.jpg);
  box-shadow: 0px 0px 40px 0px currentColor;
  margin: auto;
  height: inherit;
  display: grid;
  justify-content: center;
}

.logo-container {
  background-color: #717070;
  width: 680px;
  height: 680px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  margin: 100px auto 100px auto;
}
.logo-container img {
  width: 640px;
  height: 640px;
}

nav {
  background-color: #e7e7e7;
}
nav ul {
  display: grid;
  list-style-type: none;
  font-size: 450%;
  color: #1b1a1a;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: center;
  padding: 60px 0 60px 0;
  border: 1px solid white;
}

.about-container {
  background-color: #717070;
  width: 100%;
  text-align: center;
  font-size: 550%;
  color: #e7e7e7;
}
.about-container h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 180px 0 180px 0;
  margin: 0;
  color: #fad2d9;
}
.about-container p {
  padding: 0 50px 180px 50px;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    width: 80%;
    box-shadow: 0px 0px 40px 0px currentColor;
    margin: auto;
  }

  .logo-container {
    width: 300px;
    height: 300px;
  }
  .logo-container img {
    width: 260px;
    height: 260px;
  }

  .about-container {
    background-color: #e9e9e9;
    width: 100%;
    display: grid;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
  }

  p {
    padding: 50px 20px;
  }
}
#nailPic2 {
  width: 50%;
}

#nailPic3 {
  width: 50%;
  float: right;
}

#nailPic4 {
  width: 100%;
}

h3 {
  font-size: 700%;
  text-align: center;
  padding: 280px 0 150px 0;
  margin: 0;
}

.services-list {
  background-color: #e7e7e7;
}
.services-list .services-list__heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 9em;
  color: #f14d4d;
}

.service {
  margin: 35px;
}
.service hr {
  border-width: 4px;
}
.service .service__name {
  margin: 0;
  padding: 100px 50px 0 35px;
  font-size: 6em;
}
.service .service__price {
  margin: 0;
  padding: 35px 50px 60px 35px;
  font-size: 5em;
  font-weight: lighter;
}
.service .service__description {
  margin: 0;
  padding: 35px 50px 150px 35px;
  font-size: 4em;
  font-weight: lighter;
}

.contact {
  margin: 170px 50px 170px 50px;
  padding: 50px;
  background-color: #fad2d9;
  text-align: center;
}
.contact h2 {
  font-size: 5.5em;
  letter-spacing: 3px;
}
.contact p {
  margin: 30px;
  font-size: 4em;
}

.footer {
  width: 100%;
  height: 15%;
  font-size: 3em;
  text-align: center;
  background-color: #e7e7e7;
  padding: 20px;
}